@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-container {
  min-height: 100vh;
  color: white;
  transition: background-color 0.5s ease;
}

/* Search Bar */
nav {
  background-color: rgb(121, 162, 223);
  padding: 10px;
  display: flex;
  width: 100%;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  color: white;
  border: 0px;
  background-color: transparent;
  outline: none;
}

.search-button {
  background-color: #1983ca;
  color: navy;
  padding: 10px 15px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.search-button:hover {
  background-color: #2980b9;
}

/* Weather Display */
img {
  width: 200px;
  height: 200x;
}
.weather-display {
  margin-bottom: 20px;
}

.weather-display h2, .desc {
  color: navy;
}
span{
  font-weight: bold;
}

.weather-description {
  font-size: 18px;
  text-transform: capitalize;
}

/* Hourly Forecast */
.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.forecast-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 5px;
  width: 80px;
  text-align: center;
  color: navy;
  font-weight: bold;
  font-size: 15px;
}
.hourly-icon {
  width: 50px;
  height: 50px;
}
